/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Classes générales*/
.show{ display: block !important}
.hide{ display: none !important}
.clear { clear: both }
.floatleft, .fl {float:left}
.floatright, .fr {float:right}
.inline-block { display: inline-block }
.bold { font-weight:bold }
.italic { font-style:italic }
.nounderline { text-decoration:none}
.small {font-size:10px; line-height:10px}
.center { display:block; margin: 0 auto; text-align:center !important}
.liste { margin-left:20px; padding-bottom: 20px;}
.liste li { margin-bottom:5px }
.rounded { border-radius: 5px; }
.boxShadow { box-shadow: 0 0 5px gray }
.blackBorder { border:1px solid #000 }
.whiteBorder { border:5px solid #fff }
.sub { font-size:70%; text-align:right; font-style:italic; margin:-5px 0 5px 0; }
.w100 {width:100%}
.w78 {width:78%}
.w70 {width:70%}
.w66 {width:66%}
.w50 {width:50%}
.w33 {width:33%}
.w30 {width:30%}
.w22 {width:22%}
.mAll10 {margin:10px}
.mAuto {margin-left:auto; margin-right:auto}
.mt0 { margin-top:0px }
.mt10 { margin-top:10px }
.mt20 { margin-top:20px }
.mt30 { margin-top:30px }
.mt40 { margin-top:40px }
.mt50 { margin-top:50px }
.mt60 { margin-top:60px }
.mb0 { margin-bottom:0 }
.mb10 { margin-bottom:10px }
.mb20 { margin-bottom:20px }
.mb30 { margin-bottom:30px }
.mb40 { margin-bottom:40px }
.mb50 { margin-bottom:50px }
.mr10 {margin-right:10px}
.mr20 {margin-right:20px}
.mr30 {margin-right:30px}
.mr40 {margin-right:40px}
.mr50 {margin-right:50px}
.ml10 {margin-left:10px}
.ml20 {margin-left:20px}
.ml30 {margin-left:30px}
.ml40 {margin-left:40px}
.ml50 {margin-left:50px}
.pb0 {padding-bottom:0}
.bb0 {border-bottom:0}
.captionText {
    font-size: 90%;
    font-style: italic;
    margin-left: 225px;
    opacity: 0.8;
}
.center iframe {
    box-shadow: 0 0 3px 0 #000000;
}
a img             { opacity:   1; transition: all 0.2s ease-in-out 0s;}
a img:hover { opacity: 0.8; transition: all 0.2s ease-in-out 0s;}

/* Touch browsing default for IE10 on W8 | http://www.modern.ie */
canvas {-ms-touch-action: double-tap-zoom}

/* links */
a {color:#BF2904; text-decoration:none}      			/* unvisited link */
a:visited {color:#BF2904; text-decoration:none}			/* visited link */
a:hover {color:#BF2904; text-decoration:underline}		/* mouse over link */
a:active {color:#BF2904; text-decoration:underline}		/* clicked link */	
a:focus { color:#808080; outline: thin dotted; } 
footer a {color:#fff; text-decoration:none}      			/* unvisited link */
footer a:visited {color:#fff; text-decoration:none}			/* visited link */
footer a:hover {color:#fff; text-decoration:underline}		/* mouse over link */
#menu li a, #menu li a:visited, #menu li a:hover, #menu li a:active, #menu li a:focus { color:#84366A; text-decoration:none}
#menu ul li a, #menu ul li a:visited, #menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus {color:#fff }


/******************************************/
/* menu */

.underconstruction {
    background: url("../img/underconstruction.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 36px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 135px;
}

#menu {
    list-style: none;
	margin: 0 auto;
    position: relative;
    width: 980px;
    z-index: 10;
}
#menu li {
    background: none repeat scroll 0 0 #C8D8CD;
    /*border-bottom: 3px solid #C8D8CD;*/
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 0 3px rgba(208, 213, 203, 0.3);
    display: inline-block;
    font-family: LitteratraKLTF-Rg;
    font-size: 25px;
    line-height: 25px;
    margin: 0 11px -7px;
    padding: 10px;
	position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 111px;
}
#menu1:hover, #menu2:hover, #menu3:hover, #menu4:hover, #menu5:hover, #menu6:hover { background:url('https://i.ibb.co/gdRGC1P/current-Tab.jpg') no-repeat #C8D8CD !important}


/******************************************/

#menu li:hover > ul{
        display: block;
}

/* Sous-menu */

#menu ul{
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #15495F;
    border-radius: 5px;
	border:3px solid #84366A;
}

#menu ul li{
    background:none;
	border:none;
	float: none;
    margin: 0;
    padding: 0 0 0 8px;
	text-align:left;
	width: 95%;
    /*display: block;*/
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{
    box-shadow: none;
}

#menu ul li a {
    border-radius: 5px 5px 0 0;
	display: block;
    float: none;
    height: auto;
    line-height: 1;
    margin-left: -10px;
    padding: 10px;
    text-shadow: 2px 2px 0 #84366A;
    text-transform: none;
    white-space: nowrap;
    width: 111px;
}
#menu ul li a:hover {
    color: #BF2904;
	text-shadow:none;
}

*html #menu ul a{ /* IE6 */
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */
        height: 10px;
        width: 150px;
}

/*#menu ul a:hover{
        text-decoration: underline;
}*/

/*#menu ul li:first-child a{
    border-radius: 5px 5px 0 0;
}*/

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #15495F;
}

#menu ul li:last-child a{
    border-radius: 0 0 5px 5px;
}

/* Rétablissement du flottement */
#menu:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */


#menu2 > ul {width:193px}
#menu3 > ul {width:186px}






/* /menu */
/******************************************/

/* General layout **************************************/

html { border: medium none !important; box-shadow: none !important; }

body {
    background-color: #15495F;
    color: #3C3A3A;
    font-family: HighlanderStd-Medium;
    font-size: 17px;
    line-height: 1.4;
}

header { margin: 0 auto; width: 980px; }
header #topHeader { height:30px; display:none; }
header #greyHeader { height: 290px; padding:20px 0; }
header .container  { width: 980px; height:290px; }

#main {
    background: url('https://i.ibb.co/YtDhCjB/green-BG.jpg') repeat-y scroll center top #C8D8CB;
    border: 1px solid #D0D5CB;
    box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.6);
    margin: 0 auto;
    padding: 15px 0 30px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 957px;
}

.page { padding: 0 30px }
/*.page p { text-align:justify}*/
.page p {
  margin: 20px auto;
  max-width: 587px;
  text-align: justify;
}
.page h1 {
    background: url('https://i.ibb.co/L15VdZR/Rule-Title.png') no-repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #84366A;
    font-family: LitteratraKLTF-Rg;
    font-size: 39px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}
.page h2 {
    color: #84366A;
    font-family: LitteratraKLTF-Rg;
    font-size: 30px;
	line-height:30px;
	margin:10px 0 0;
    text-transform: uppercase;
}
.page h3 {
    color: #84366A;
    font-family: LitteratraKLTF-Rg;
    font-size: 20px;
	line-height:20px;
	margin:10px 0 5px;
    text-transform: uppercase;
}
.quickmenu {
    color: #84366A;
    font-family: LitteratraKLTF-Rg;
    font-size: 25px;
    margin-top: -20px;
    text-align: center;
}


footer {
    color: #808080;
    font-family: arial;
    margin-top: 27px;
}
footer #footerContainer { width:980px; margin:10px auto; /*padding-top:45px; background: url('https://i.ibb.co/8scnGRK/Rule-top.png') no-repeat scroll center top*/ }
footer a { color:#fff; text-decoration: }
footer #logos { width: 158px; height: 180px; float:left; padding:0 30px }
footer #copyright { font-size: 10px }
footer #share { width: 175px; height: 180px; float:left; padding:0 30px }
footer #share h4 { color: #FFFFFF; font-size: 13px; margin: -10px 0 4px }
footer #share a:hover { text-decoration: none }
footer #facebook { width: 414px; height: 180px; float:left; padding-left: 30px;  }
footer #bottomLine { height:43px; clear:both; background: url('https://i.ibb.co/h2M1Lrn/Rule-bot.png') no-repeat scroll center bottom;  }



/* Home **************************************/

#KSvideo {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 0 4px rgba(137, 137, 137, 0.2);
    padding: 3px;
	float:left;
	margin-right:25px;
}
#KSwidget {
	float:left;
	margin-top:-4px;
}


/* Product page **************************************/

.parchment { width:460px; height:183px; background: url('https://i.ibb.co/X39ZpPq/Parchment-Quest.png') no-repeat center; }
.parchment p { font-family: LitteratraKLTF-Rg; color: #84366A; }
.parchment.parch1 p { font-size:25px; line-height: 28px; padding: 36px 60px }
.parchment.parch2 p { font-size:19px; line-height: 19px; padding: 28px 34px }
.encart {
    /*background: url("../img/Rule-Encart-top.png") no-repeat scroll center top, url("../img/Rule-Encart-bot.png") no-repeat scroll center bottom #DFDACF;*/
    background: #e6e0d4;
    box-shadow:0 0 3px 0 #000000;
	font-size: 105%;
    /*padding: 45px 0;*/
    padding: 0;
}
.encart h3 {
	text-align: center;
	margin: 5px 0;
}
.encart ul {
    margin: 0 auto;
    padding: 0;
    width: 67%;
}
.encart ul li { list-style-type: none }
.encart > p { padding: 0 33px }

/* Test parchemin */
.encart .top { height:40px; background:url('../img/parchment-top.gif') }
.encart .topleft { width:67px; height:40px; float:left; background:url('../img/parchment-topleft.gif') }
.encart .topright { width:67px; height:40px; float:right; background:url('../img/parchment-topright.gif') }
.encart .bot { height:40px; background:url('../img/parchment-bot.gif') }
.encart .botleft { width:67px; height:40px; float:left; background:url('../img/parchment-botleft.gif') }
.encart .botright { width:67px; height:40px; float:right; background:url('../img/parchment-botright.gif') }
/* Test parchemin */

.warning { background-color: #84366a; padding:10px; font-size: 20px; font-weight: bold; color:#fff; text-shadow:1px 1px 8px #000 }


/* Galleries **************************************/

ul.gallery { padding-left:0px }
ul.gallery li { float: left; list-style-type: none; margin-right: 19px; margin-bottom: 50px; }
ul.gallery li:nth-child(4n) { margin-right:0 }
.gallery .name {
    background-color: #84366A;
    box-shadow: 0 0 4px #000000, 0 0 4px #000000;
	color: #FFFFFF;
    display: block;
	font-size: 22px;
	line-height: 20px;
    margin: -15px auto 0;
	padding: 10px 0;
    text-align: center;
	text-shadow: none;
}
.gallery.heros .name {
	height:16px;
    width: 135px;
}
.gallery.heros .big.name {
	height:32px;
    margin-bottom: -16px;
}
.gallery.monsters .name {
	height:35px;
    width: 135px;
}
.gallery.monsters .name.oneLine { line-height: 36px }


/* Bio pages **************************************/

.bioPage { width: 950px; height: 800px; position:relative}
.bioPage .textFrame {
    background: url('https://i.ibb.co/6wPLrMd/Parchment-Bio.png') no-repeat;
    height: 544px;
    position: absolute;
    width: 362px;
}
.bioPage.Hero .textFrame {
    top: 100px;
    left: 529px;
}
.bioPage.Monster .textFrame {
    top: 112px;
    left: 572px;
}
.bioText h1 {
    color: #BC2B05;
    font-family: LitteratraKLTF-Rg;
    font-size: 46px;
	line-height: 32px;
    margin: 53px 0 0;
    padding: 0 45px;
	text-align: center;
}
.bioText p.quote {
    font-style: italic;
    font-size: 14px;
	margin-bottom: -10px;
}
.bioText p {
    color: #544312;
    font-size: 15px;
    line-height: 16px;
    padding: 0 60px;
	text-align: justify;
}
.bioPage.Hero .switchButttons {
    bottom: 46px;
    position: absolute;
    right: 77px;
}
.bioPage.Monster .switchButttons {
    bottom: 0px;
    position: absolute;
    right: 157px;
}
.bioPage .switchButttons span {
    height: 57px;
    width: 57px;
	display: inline-block;
	transition:all 0.3s ease-in-out 0s;
}
.bioPage .switchButttons span:hover {
    cursor: pointer;
    opacity: 0.7;
}
.Hero .switchBio { background: url('https://i.ibb.co/M1C9WQR/switch-Bio-H.png') }
.Hero .switchMini { background: url('https://i.ibb.co/wJQwstY/switch-Mini-H.png') }
.Hero .switchCard { background: url('https://i.ibb.co/2N6YR3X/switch-Card-H.png') }
.Hero .switchClose { background: url('https://i.ibb.co/R0S2GbT/switch-Close-H.png') }
.Monster .switchBio { background: url('https://i.ibb.co/f8W2bsN/switch-Bio-M.png') }
.Monster .switchMini { background: url('https://i.ibb.co/p0ZMFfs/switch-Mini-M.png') }
.Monster .switchCard { background: url('https://i.ibb.co/nbf981w/switch-Card-M.png') }
.Monster .switchClose { background: url('https://i.ibb.co/4tjNZKC/switch-Close-M.png') }

.bioPage .switch { display:none }
.Hero .mini.switch {
    right: 45px;
    position: absolute;
    bottom: 300px;
}
.Hero .card.switch {
    left: 362px;
    position: absolute;
    top: 75px;
    transform: rotate(4deg);
}
.Monster .mini.switch {
    right: 10px;
    position: absolute;
    bottom: 74px;
}
.Monster .card.switch {
    left: 523px;
    position: absolute;
    top: 87px;
    transform: rotate(4deg);
}

/* Downloads **************************************/
.downloads {margin-bottom: 40px}
.downloads > div {float: left; margin-bottom: 35px;}
.downloads li {float: left; text-align: center; width: 40%; list-style:none}
.downloads li:hover {background-color:#84366A; color:#000; text-shadow:none; box-shadow:2px 2px 2px #000}

/* Contact page **************************************/
#contactMain { float:left; width:344px; margin-top:35px}
#contactMain h2 { font-size:23px; margin-bottom: 13px; }
#contactMain span {
    display: block;
    font-size: 85%;
    font-style: italic;
    margin-top: -9px;
    text-align: right;
}
#contactForm { float:right; margin-top:112px }
#contactForm input, #contactForm textarea { color:#84366A; border:1px solid #84366A; padding:5px; margin: 5px 15px 0 0; background-color: rgba(255, 255, 255, 0.6); }
#contactForm input { width:236px }
#contactForm input:hover { border-color:#AA3884; opacity:0.8; }
#contactForm textarea { width:500px; height:200px }
#contactForm #fichier { width: 95% }
.label { float:left }
.checkmail { width:500px; margin-top:-65px; margin-bottom:20px; color: #84366A; font-style:italic; font-weight:bold }
.focus { color:black !important }




/* fancybox fix **************************************/
.fancybox-nav { width:5%}
.fancybox-skin { padding:0 !important }


/* Webfonts **************************************/
@font-face {
	font-family: 'LitteratraKLTF-Rg';
	src: url('LitteratraKLTF-Rg.eot?') format('eot'), 
	     url('LitteratraKLTF-Rg.otf')  format('opentype'),
	     url('LitteratraKLTF-Rg.woff') format('woff'), 
	     url('LitteratraKLTF-Rg.ttf')  format('truetype'),
	     url('LitteratraKLTF-Rg.svg#LitteratraKLTF-Rg') format('svg');
}
@font-face {
	font-family: 'HighlanderStd-Medium';
	src: url('HighlanderStd-Medium.eot?') format('eot'), 
	     url('HighlanderStd-Medium.otf')  format('opentype'),
	     url('HighlanderStd-Medium.woff') format('woff'), 
	     url('HighlanderStd-Medium.ttf')  format('truetype'),
	     url('HighlanderStd-Medium.svg#HighlanderStd-Medium') format('svg');
}


/* =============================================================================
   SlideJS | http://slidesjs.com/
   ========================================================================== */

    /* Prevent the slideshow from flashing on load */
    #slides { display: none }
    /* Center the slideshow */
    .container { margin: 0 auto }
		
	/* Prevents flashes between slides on iOS mobile devices.
	Not working actually.
	https://groups.google.com/forum/#!topic/slidesjs/Q5YpXk4riQA */
	#slides * { -webkit-transform: translate3d(0, 0, 0); }
	
	/* Image de fond permanente sur le slider pour éviter d'avoir du vide en cas de bug du slider */
	.slidesjs-control {
		background: url('https://i.ibb.co/Vgvgd84/header1.jpg') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	}


/* =============================================================================
   FlexSlider
   ========================================================================== */
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus  {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
/*.flexslider .slides img {width: 100%; display: block;}*/
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; position: relative; /*margin: 0 0 60px; border: 4px solid #fff; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2);*/ zoom: 1;}
.flex-viewport {max-height: 2000px; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
/* JULIEN */
.flexslider {background: url("../img/hach-red.jpg") repeat; height: 225px; overflow: hidden; padding: 30px 30px 10px; width: 860px; border-radius:5px;}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 65px; margin: -20px 0 0; display: block; background: url(../img/controls.png) no-repeat 0 0; position: absolute; top: 48%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 1; -webkit-transition: all .3s ease;}
/*.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0.8; -webkit-transition: all .3s ease;}*/
.flex-direction-nav .flex-next {background-position: 100% 0; right: 0 /*-36px*/; }
.flex-direction-nav .flex-prev {left: 0 /*-36px*/;}
.flex-direction-nav .flex-next:hover {background-position: 100% -65px}
.flex-direction-nav .flex-prev:hover {background-position: 0 -65px}
.flexslider:hover .flex-next {opacity: 1; /*right: 5px;*/}
.flexslider:hover .flex-prev {opacity: 1; /*left: 5px;*/}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.flex-control-nav {width: 93%; position: absolute; bottom: -3px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: #9C9C9C; cursor: pointer; text-indent: -9999px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #F0F0F0; cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
 


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
@media screen and (max-device-width: 480px){
	/*--- iPhone only CSS here ---*/
	/*#background { background: url("../img/bg-mob2.jpg") no-repeat #000; -webkit-background-size: 980px 1330px }*/
}
@media screen and (max-device-width: 1024px){
	/*--- iPad only CSS here ---*/
	/*#background { background: url("../img/bg-mob2.jpg") no-repeat #000; -webkit-background-size: 980px 1330px }*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}